* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;

  --bg-color: #e7e7e1;
  --text-color: #000;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: harrypotter;
  src: url("../assets/fonts/harrypotter.ttf");
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: large;
  height: 72px;
}

.logo > img {
  height: 2em;
  margin-left: 5vw;
}

nav {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin-right: auto;
  margin-left: auto;
}

.navbar-list {
  display: flex;
  list-style: none;
  gap: 8vw;
}

.navbar-list > li > a {
  text-decoration: none;
  color: inherit;
  display: flex;
  gap: 1vw;
  text-align: center;
}

.navbar-list > li > a > i {
  margin-top: auto;
  margin-bottom: auto;
}

.login,
.user,
.trade,
.notifications {
  text-decoration: none;
  color: inherit;
  display: flex;
  gap: 1vw;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: x-large;
  margin-right: 5vw;
  margin-left: 2vw;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.trade,
.notifications {
  margin-right: 0;
}

.login:hover,
.user:hover,
.trade:hover,
.notifications:hover {
  transform: scale(1.1);
}

.login-form,
.register-form,
.user-menu {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  position: absolute;
  top: 10vh;
  right: 5vw;
  padding: 16px;
  border-radius: 15px;
  background-color: #ddd;
  z-index: 100;
  font-size: x-large;
  transition: all 0.3s ease-in-out;
  pointer-events: all;
}

.user-menu button {
  width: 100%;
}

.hidden {
  display: none !important;
}

.login-form > input,
.register-form > input {
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: large;
}

.tip {
  font-size: medium;
  margin-top: -8px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .nav-link {
    display: none;
  }
}

header > div {
  display: flex;
  align-items: center;
  gap: 1vw;
}

header > form > input[type="text"] {
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: large;
  max-width: 15vw;
}

header > form > button[type="submit"] {
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: large;
  cursor: pointer;
  padding: 8px;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

button[type="submit"] {
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #ddd;
}

@media screen and (max-width: 1024px) {
  header > div > input[type="text"] {
    display: none;
  }

  header > div > button[type="submit"] {
    display: none;
  }
}

.hero-image {
  display: flex;
  overflow: hidden;
}

.hero-image > img {
  filter: brightness(70%);
  width: 100vw;
}

@media screen and (min-width: 800px) {
  .hero-image > img {
    width: 100vw;
    height: calc(100vh - 72px);
  }
}

@media screen and (max-width: 800px) {
  .hero-image > img {
    height: 65vh;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.hero-title {
  z-index: 1;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15vw;
  background-image: url("../assets/images/gold.jpg");
  filter: brightness(0.9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: harrypotter;
}

@media screen and (max-width: 1024px) {
  .hero-title,
  .hero-title2 {
    top: 35%;
  }
}

footer {
  display: flex;
  gap: 24px;
  flex-direction: column;
  background-color: var(--bg-color);
  justify-content: center;
  align-items: center;
}
footer > div {
  display: flex;
  color: var(--text-color);
}

footer > div:nth-of-type(1) {
  margin-top: 48px;
}

footer > div:nth-last-of-type(1) {
  margin-bottom: 48px;
}

.socials {
  display: flex;
  gap: 24px;
}

.socials > a {
  color: var(--text-color);
  font-size: xx-large;
}

.legal {
  display: flex;
  gap: 24px;
}

.legal > a,
.legal > p {
  color: var(--text-color);
  font-size: large;
  text-decoration: none;
}

nav a i,
nav a span {
  transition: all 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.85);
}

nav a:hover i,
nav a:hover span {
  color: #000;
}

.main-content {
  display: flex;
  margin-right: 5vw;
  margin-left: 5vw;
  gap: 5vw;
  margin-top: 5vh;
}

@media screen and (max-width: 1024px) {
  nav {
    display: none;
  }
  .main-content {
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .main-content > div {
    width: 80vw !important;
  }
}

.main-content > div {
  width: 30vw;
  text-align: justify;
  text-justify: inter-word;
}

.about {
  display: flex;
  flex-direction: column;
  line-height: 3vh;
  font-size: large;
  gap: 3vh;
}

.contact {
  display: flex;
  flex-direction: column;
  line-height: 3vh;
  font-size: large;
  gap: 3vh;
}

.contact > form {
  display: flex;
  flex-direction: column;
}

.contact > form > input,
textarea,
button {
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: 1px solid black;
  background-color: transparent;
  font-size: large;
  margin-bottom: 1vh;
  margin-top: 0.5vh;
  resize: none;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #bbb;
}

.contact > form > button {
  cursor: pointer;
  padding: 8px;
}

.news {
  display: flex;
  flex-direction: column;
  line-height: 3vh;
  font-size: large;
  gap: 3vh;
}

.articles-container > article {
  border-bottom: 2px solid white;
  padding-bottom: 3vh;
  margin-bottom: 3vh;
}

.articles-container > article:nth-last-of-type(1) {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.articles-container > article > h3 {
  cursor: pointer;
}

.gallery {
  margin-top: 5vh;
  display: flex;
  gap: 20vw;
  margin-left: 35vw;
  height: 30vw;
  transition: all 0.3s ease;
  overflow: hidden;
}

.gallery > img {
  object-fit: cover;
  width: 30vw;
  aspect-ratio: 1/1;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .gallery {
    margin-left: 25vw;
    gap: 20vw;
    height: 50vw;
  }
  .gallery > img {
    width: 50vw;
  }
}

.inactive {
  filter: brightness(50%) blur(2px);
}

@media screen and (max-width: 1024px) {
  .burger-menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }
  .burger-menu-list > li > a {
    text-decoration: none;
    color: inherit;
  }
  .burger-icon {
    display: block !important;
  }
  #submit-search {
    display: none;
  }
  #searchInput {
    max-width: 40vw !important;
  }
}

#burger-toggle {
  display: none !important;
}
.burger-icon {
  font-size: xx-large !important;
  display: none;
}

.burger-menu {
  transform: scaleY(0);
  flex-direction: column;
  position: absolute;
  top: 10vh;
  right: 5vw;
  padding: 16px;
  border-radius: 15px;
  background-color: #ddd;
  z-index: 100;
  cursor: pointer;
  font-size: x-large;
  transition: all 0.3s ease-in-out;
  /* background-color: red; */
}

button:disabled {
  cursor: not-allowed;
}

#trade-page,
#notifications-page {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: all;
  z-index: 2000;
  overflow: hidden;
}

body.trade-page-open {
  overflow: hidden;
}

.trade-menu,
.notifications-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ddd;
  padding: 16px;
  border-radius: 15px;
  z-index: 2001;
  pointer-events: all;
  width: 80vw;
}

.trade-menu {
  height: 80vh;
}

.notifications-menu {
  width: 30vw;
  height: fit-content;
  max-height: 60vh;
}

.trade-menu form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.cards-separator {
  display: flex;
  gap: 1vw;
}

.trade-menu > form > div > div > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  gap: 1vw;
  height: 60vh;
  width: calc(39.5vw - 16px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.card {
  cursor: pointer;
}

.trade-menu > form > button {
  max-width: 20vw;
}
.trade-menu > form > select {
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: large;
  max-width: 20vw;
  cursor: pointer;
}

.trade-menu > form > div > div > div > div > i {
  position: absolute;
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: xx-large;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: lime;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}

.cards-lists-separator {
  width: 100%;
  display: flex;
  gap: 1vw;
}

.cards-lists-separator > div {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 50%;
}

.notifications {
  position: relative;
}

.notification-counter {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 4px;
  border-radius: 50%;
  font-size: xx-small;
  font-weight: normal;
  line-height: 30%;
}

.notifications-menu > h2 {
  margin-bottom: 12px;
}

.notifications-menu > div {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.notifications-menu > div > div {
  border-bottom: 1px solid black;
  margin-top: 12px;
}

.notifications-menu > div > div:last-of-type {
  border-bottom: none;
}

.notifications-menu > div > div > p {
  font-size: large;
  margin-left: 6px;
  margin-bottom: 6px;
}

.button-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1vw;
}
.button-container button {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  margin: 8px;
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: large;
  cursor: pointer;
  padding: 8px;
}

.cards-lists-separator div {
  margin-left: 4px;
}
